# Crimson II MUD crontab file.

# Rudimentary crontab documentation pulled from Wikipedia:
# http://en.wikipedia.org/wiki/Crontab

# Use the hash sign to prefix a comment
# +---------------- minute (0 - 59)
# |  +------------- hour (0 - 23)
# |  |  +---------- day of month (1 - 31)
# |  |  |  +------- month (1 - 12)
# |  |  |  |  +---- day of week (0 - 7) (Sunday=0 or 7)
# |  |  |  |  |
# *  *  *  *  *  command to be executed

# Rotate the logs, once every night.
0 1 * * * /bin/bash /home/ubuntu/c2/controlscripts/rotate_logs.sh >/dev/null 2>&1

# Run the daily backup script, once every night.
0 1 * * * /bin/bash /home/ubuntu/c2/controlscripts/daily_backup.sh >/dev/null 2>&1

# Run the weekly backup script, once every week.  (Tuesday.)
0 1 * * 2 /bin/bash /home/ubuntu/c2/controlscripts/weekly_backup.sh >/dev/null 2>&1

# Make sure the Mud is UP. Run every 15 minutes.
15 * * * * /bin/bash /home/ubuntu/c2/controlscripts/mudrunning.sh >/dev/null 2>&1
