# Crimson II MUD crontab file.

# Rudimentary crontab documentation pulled from Wikipedia:
# http://en.wikipedia.org/wiki/Crontab

# Use the hash sign to prefix a comment
# +---------------- minute (0 - 59)
# |  +------------- hour (0 - 23)
# |  |  +---------- day of month (1 - 31)
# |  |  |  +------- month (1 - 12)
# |  |  |  |  +---- day of week (0 - 7) (Sunday=0 or 7)
# |  |  |  |  |
# *  *  *  *  *  command to be executed
# Rotate the logs, once every night.
0 1 * * * /bin/bash /home/ubuntu/c2/controlscripts/rotate_logs.sh >/dev/null 2>&1
# Run the daily backup script, also once every night.
0 1 * * * /bin/bash /home/ubuntu/c2/controlscripts/daily_backup.sh >/dev/null 2>&1
# Run the weekly backup script, every Tuesday at 2AM
0 2 * * 2 /bin/bash /home/ubuntu/c2/controlscripts/weekly_backup.sh >/dev/null 2>&1
# Make sure the Mud is UP. Run every 15 minutes.
*/15 * * * * /bin/bash /home/ubuntu/c2/controlscripts/mudrunning.sh >/dev/null 2>&1
# Rotate logs for the Mudrinning.sh script
0 1 * * * /bin/bash /home/ubuntu/c2/controlscripts/rotate_mudrunning.sh >/dev/null 2>&1
# Mail ideas/bugs/typos weekly (Tuseday)
0 3 * * 2 /bin/bash /home/ubuntu/c2/prod/lib/mail.files >/dev/null 2>&1
