*.o
src/depend
src/rebuild/depend
src/crimsond
src/repversion.h
dev/bin/crimsond
prod/bin/crimsond
hell/bin/crimsond
test/bin/crimsond
controlscripts/.devlockfile
controlscripts/.prodlockfile
controlscripts/.testlockfile
*/lib/players
*/logs/*
controlscripts/mudrunning.txt